body {
  background-color: black
}
.card {
	background-color: #5e090d;

}
h1{
	color:white;
	font-size: 80px;
	font-weight: bolder;
	font-family:Time new roman;
}
.redcolor{
	color:white;
	font-size:30px;
	font-family:"indie flower";
}
.cardstyle{
	font-size: 30px;
	font-weight: bolder;
	
}
.content{
	color:white;
	font-size: 20px;
	font-family: indie flower;
}
h2{
	color: white;
	font-size: 15px;
	font-weight:bolder;
	font-family: Time new roman;
}
h3{ 
	color:white;
	font-size: 15px;
}
.trans{
	color: white;
	font-size:20px;
	text-decoration: italic;
}
.wuhan {  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Wuhan_Xibeihu_Area_Panorama%282017%29.jpg/1920px-Wuhan_Xibeihu_Area_Panorama%282017%29.jpg); no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

  height:200px;
}
h6{
	color:white;
	font-size: 70px;
	font-weight: bolder;
}